body{
    padding-top:50px;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
@keyframes playshuimu{
    0%{
        background-position: -15px 0px;
    }
    100%{
        background-position:-12282px 0px ;
    }
}
@keyframes hp_slide_bg{
    to{

    }
}
.hp_body{
    display:flex;
    flex-direction: column;
    background: #f0f0f0;
}
.hp_body .hp_img{
    width:100%;
    height: auto;
    overflow: hidden;
}
.hp_body .hp_slide .hp_img img{
    transform: scale(1.9);
    -webkit-transform: scale(1.9);
    -moz-transform: scale(1.9);
    -o-transform: scale(1.9);
    margin:13% -40%  14% 0%;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
}
.hp_body .hp_slide .hp_img .hp_title .p2{
    animation-play-state: running;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
}
.hp_body .hp_photo .hp_img img{
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    margin:10% -40%  17% 0%;
    opacity: 0;
    transition: opacity 2s linear;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
}
.hp_body .hp_bz{
    background: #010013;
}
.hp_body .hp_bz .hp_img .hp_shuimu_bg{
    transform: scale(1.9);
    -webkit-transform: scale(1.9);
    -moz-transform: scale(1.9);
    -o-transform: scale(1.9);
    margin:19% -41%  16% -1%;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-play-state: paused;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 2s;
    -webkit-animation-play-state: paused;
    -moz-animation-duration: 5s;
    -moz-animation-delay: 2s;
    -moz-animation-play-state: paused;
    -o-animation-duration: 5s;
    -o-animation-delay: 2s;
    -o-animation-play-state: paused;
}
.hp_body .hp_bz .hp_img .hp_phone_det{
    position: relative;
    width:100%;
    height:100%;
}
.hp_body .hp_bz .hp_img .hp_phone{
    position:absolute;
    z-index: 999;
    max-height: 75%;
    left:33.133336%;
    margin-top: 17%;
    transform:scale(1.1);
    animation-duration: 3s;
    animation-delay: 3s;
    animation-play-state: paused;
    -webkit-transform:scale(1.1);
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 3s;
    -webkit-animation-play-state: paused;
    -moz-transform:scale(1.1);
    -moz-animation-duration: 3s;
    -moz-animation-delay: 3s;
    -moz-animation-play-state: paused;
    -o-transform:scale(1.1);
    -o-animation-duration: 3s;
    -o-animation-delay: 3s;
    -o-animation-play-state: paused;
}
.hp_body .hp_bz .hp_img .hp_shuimu{
    background: url(../images/hp_shuimu.jpg) no-repeat;
    transform: scale(0.9);
    width:10%;
    height:48%;
    overflow: hidden;
    left:34%;
    margin-top: 27%;
    z-index: 999;
    position: absolute;
    animation:playshuimu 8s steps(87) infinite;
    -webkit-transform: scale(0.9);
    -webkit-animation:playshuimu 8s steps(87) infinite;
    -moz-transform: scale(0.9);
    -moz-animation:playshuimu 8s steps(87) infinite;
    -o-transform: scale(0.9);
    -o-animation:playshuimu 8s steps(87) infinite;
}
@media(max-width: 1200px){
    .hp_body .hp_bz .hp_img .hp_shuimu{
        transform: scale(0.8);
        margin-top: 26%;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
}
@media(max-width: 980px){
    .hp_body .hp_bz .hp_img .hp_shuimu{
        transform: scale(0.55);
        width:18%;
        left:32%;
        height:85%;
        margin-top: 18%;
        -webkit-transform: scale(0.55);
        -moz-transform: scale(0.55);
        -o-transform: scale(0.55);
    }
}
@media(max-width: 768px){
    .hp_body .hp_bz .hp_img .hp_shuimu{
        transform: scale(0.35);
        width:26%;
        left:27%;
        height:90%;
        margin-top: 14%;
        -webkit-transform: scale(0.35);
        -moz-transform: scale(0.35);
        -o-transform: scale(0.35);
    }
}
@media(max-width: 480px){
    .hp_body .hp_bz .hp_img .hp_shuimu{
        transform: scale(0.25);
        width:32%;
        left:24%;
        height:93%;
        margin-top: 13%;
        -webkit-transform: scale(0.25);
        -moz-transform: scale(0.25);
        -o-transform: scale(0.25);
    }
}
@media(max-width: 420px){
    .hp_body .hp_bz .hp_img .hp_shuimu{
        transform: scale(0.2);
        width:38%;
        left:20%;
        height:125%;
        margin-top:6%;
        -webkit-transform: scale(0.2);
        -moz-transform: scale(0.2);
        -o-transform: scale(0.2);
    }
}
@media(max-width: 320px){
    .hp_body .hp_bz .hp_img .hp_shuimu{
        transform: scale(0.15);
        width:50%;
        left:13%;
        height:180%;
        margin-top:-12%;
        -webkit-transform: scale(0.15);
        -moz-transform: scale(0.15);
        -o-transform: scale(0.15);
    }
}
.hp_body .hp_tz .hp_img img{
    transform: scale(1.8 2.5);
    -webkit-transform: scale(1.8 2.5);
    -moz-transform: scale(1.8 2.5);
    -o-transform: scale(1.8 2.5);
    margin:0 -40%  0 -2%;
}
.hp_body .hp_dt .hp_img img{
    transform: scale(1.9);
    -webkit-transform: scale(1.9);
    -moz-transform: scale(1.9);
    -o-transform: scale(1.9);
    margin:12% -30%  3% 0%;
    opacity: 0;
    transition: opacity 3s linear;
    -webkit-transition: opacity 3s linear;
    -moz-transition: opacity 3s linear;
    -o-transition: opacity 3s linear;
}
.hp_body .hp_music .hp_img img{
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    margin:10% -30%  5% 0%;
    opacity: 0;
    transition: opacity 3s linear;
    -webkit-transition: opacity 3s linear;
    -moz-transition: opacity 3s linear;
    -o-transition: opacity 3s linear;
}
.hp_body .row{
    position:relative;
    height:100%;
    width: 100%;
}
.hp_body .hp_img .hp_title{
    width:100%;
    color:#fff;
    font-size: 1.3rem;
    display: inline-block;
    text-align: center;
    position: absolute;
    z-index: 10;
    content: "";
    clear:both;
}
.hp_body .hp_img .hp_title .p1,
.hp_body .hp_img .hp_title .p2,
.hp_body .hp_img .hp_title .all_p3{
   opacity: 0;
   transform: translate(0,15px);
   transition: opacity 1s linear,transform 1s linear;
   -webkit-transform: translate(0,15px);
   -moz-transform: translate(0,15px);
   -o-transform: translate(0,15px);
   -webkit-transition:opacity 1s linear,transform 1s linear;
   -moz-transition: opacity 1s linear,transform 1s linear;
   -o-transition: opacity 1s linear,transform 1s linear;
}
.hp_body .hp_music .hp_img .hp_title .p1,
.hp_body .hp_music .hp_img .hp_title .p2,
.hp_body .hp_music .hp_img .hp_title .all_p3{
    color:#4b3017!important;
}
.hp_body .hp_img .hp_title1{
    margin-top:23%;
}
.hp_body .hp_img .hp_title2{
    margin-top:23%;
}
.hp_body .hp_img .hp_title3{
    margin-top:15%;
}
.hp_body .hp_img .hp_title4{
    margin-top:12%;
}
.hp_body .hp_img .hp_title4_2{
    color:#000000;
    margin-top:12%;
}
.hp_body .hp_img .hp_title5{
    margin-top:18%;
}
.hp_body .hp_img .all_p3{
    width: 100%;
    display: inline-block;
    text-align: center;
 }
.hp_body .hp_img .p1{
    font-size: 1.5em;
    font-weight: lighter;
}
.hp_body .hp_img .p2{
    font-size: 3em;
    font-weight: lighter;
    margin-bottom:0.6em;
}
.hp_body .hp_img .p3{
    right:0;
    font-size: 1.2em;
    font-weight: lighter;
}
@media(max-width: 1200px){
    .hp_body .hp_img .hp_title,
    .hp_body .hp_img .p1,
    .hp_body .hp_img .p2,
    .hp_body .hp_img .p3{
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -o-transform: scale(0.95);
    }
    .hp_body .hp_img .hp_title2{
        margin-top:22%;
    }
    .hp_body .hp_img .hp_title3{
        margin-top:13%;
    }
    .hp_body .hp_img .hp_title4{
        margin-top:8%;
    }
    .hp_body .hp_img .hp_title5{
        margin-top:16%;
    }
    .hp_body .hp_img .p2{
        margin:0.15em 0;
    }
}
@media(max-width: 980px){
    .hp_body .hp_img .hp_title,
    .hp_body .hp_img .p1,
    .hp_body .hp_img .p2,
    .hp_body .hp_img .p3{
        transform: scale(0.88);
        -webkit-transform: scale(0.88);
        -moz-transform: scale(0.88);
        -o-transform: scale(0.88);
        margin-left: 1%;
    }
    .hp_body .hp_img .hp_title2{
        margin-top:21%;
    }
    .hp_body .hp_img .hp_title3{
        margin-top:12%;
    }
    .hp_body .hp_img .hp_title4{
        margin-top:9%;
    }
    .hp_body .hp_img .hp_title5{
        margin-top:15%;
    }
    .hp_body .hp_img .p2{
        margin:0.2em 0;
    }
}
@media(max-width: 768px){
    .hp_body .hp_img .hp_title,
    .hp_body .hp_img .p1,
    .hp_body .hp_img .p2,
    .hp_body .hp_img .p3{
        transform: scale(0.78);
        -webkit-transform: scale(0.78);
        -moz-transform: scale(0.78);
        -o-transform: scale(0.78);
    }
    .hp_body .hp_img .hp_title2{
        margin-top:20%;
    }
    .hp_body .hp_img .hp_title3{
        margin-top:12%;
    }
    .hp_body .hp_img .hp_title4{
        margin-top:6%;
    }
    .hp_body .hp_img .hp_title5{
        margin-top:15%;
    }
    .hp_body .hp_img .p1{
        margin:0.08em 0;
    }
    .hp_body .hp_img .p2{
        font-size: 2.2em;
        margin:0.12em 0;
    }
    .hp_body .hp_img .p3{
        margin:0.10em 0;
    }
}
@media(max-width: 480px){
    .hp_body .hp_img .hp_title,
    .hp_body .hp_img .p1,
    .hp_body .hp_img .p2,
    .hp_body .hp_img .p3{
        transform: scale(0.68);
        -webkit-transform: scale(0.68);
        -moz-transform: scale(0.68);
        -o-transform: scale(0.68);
    }
    .hp_body .hp_img .hp_title2{
        margin-top:17%;
    }
    .hp_body .hp_img .hp_title3{
        margin-top:12%;
    }
    .hp_body .hp_img .hp_title4{
        margin-top:7%;
    }
    .hp_body .hp_img .hp_title5{
        margin-top:12%;
    }
    .hp_body .hp_img .p1{
        margin:0.06em 0;
    }
    .hp_body .hp_img .p2{
        font-size: 1.6em;
        margin:0.07em 0;
    }
    .hp_body .hp_img .p3{
        margin:0 0;
    }
}
@media(max-width: 420px){
    .hp_body .hp_img .hp_title,
    .hp_body .hp_img .p1,
    .hp_body .hp_img .p2,
    .hp_body .hp_img .p3{
        transform: scale(0.75);
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        -o-transform: scale(0.75);
        margin-left:3%;
    }
    .hp_body .hp_img .hp_title2{
        margin-top:19%;
    }
    .hp_body .hp_img .hp_title3{
        margin-top:11%;
    }
    .hp_body .hp_img .hp_title4{
        margin-top:8%;
    }
    .hp_body .hp_img .hp_title5{
        margin-top:15%;
    }
    .hp_body .hp_img .p1{
        font-size: 1em;
        margin:-0.1em 0;
    }
    .hp_body .hp_img .p2{
        font-size: 1.4em;
        margin:0.15em 0;
    }
    .hp_body .hp_img .p3{
        font-size: 0.7em;
        margin:-0.2em  0;
    }
}
@media(max-width: 280px){
    .hp_body .hp_img .hp_title,
    .hp_body .hp_img .p1,
    .hp_body .hp_img .p2,
    .hp_body .hp_img .p3{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -o-transform: scale(0.5);
        margin-left: 6%;
    }
    .hp_body .hp_img .hp_title2{
        margin-top:15%;
    }
    .hp_body .hp_img .hp_title3{
        margin-top:8%;
    }
    .hp_body .hp_img .hp_title4{
        margin-top:1%;
    }
    .hp_body .hp_img .hp_title5{
        margin-top:13%;
    }
    .hp_body .hp_img .p1{
        font-size: 1em;
        margin:-0.1em 0;
    }
    .hp_body .hp_img .p2{
        font-size: 1.4em;
        margin:0.1em 0;
    }
    .hp_body .hp_img .p3{
        font-size: 0.7em;
        margin:-0.2em  0;
        left:1em;
    }
}
.hp_body .hp_tz .hp_tz_list{
    display:flex;
    width: 100%;
    position:absolute;
    text-align: center;
    margin:15% 0;
    margin-top: 40.33336%;
    z-index: 10;
}
@media(max-width:1200px){
    .hp_body .hp_tz .hp_tz_list{
        margin-top: 45%;
    }
}
@media(max-width: 980px){
    .hp_body .hp_tz .hp_tz_list{
        width:90%;
        margin-top: 50%;
        margin-left: 5%;
    }
}
@media(max-width:768px){
    .hp_body .hp_tz .hp_tz_list{
        margin-top: 48%;
    }
}
@media(max-width:480px){
    .hp_body .hp_tz .hp_tz_list{
        margin-top: 45%;
    }
}
.hp_body .hp_tz .hp_tz_list ul{
    position: relative;
    width:100%;
}
.hp_body .hp_tz .hp_tz_list li{
    list-style: none;
    padding-left: 5%;
    perspective: 600px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
}
.hp_body .hp_tz .hp_tz_list li img{
     width:50%;
     justify-content: space-around;
 }
.hp_body .hp_tz .hp_tz_list li .img2{
    position:absolute;
    top:-50%;
    z-index: -1;
    transform: rotateY(180deg) scale(1.26);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg) scale(1.26);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateY(180deg) scale(1.26);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -ms-transform: rotateY(180deg) scale(1.26);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.hp_body .hp_tz .hp_tz_list li .img1{
    position:relative;
    transform: rotateX(0deg) rotateY(0deg) scale(1);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-transform: rotateX(0deg) rotateY(0deg) scale(1);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg) scale(1);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -ms-transform: rotateX(0deg) rotateY(0deg) scale(1);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.hp_body .hp_tz .hp_tz_list li:hover .img1{
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
}
.hp_body .hp_tz .hp_tz_list li:hover .img2{
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform:rotateX(0deg) rotateY(0deg);
    -ms-transform:rotateX(0deg) rotateY(0deg);
    position:absolute;
}
.hp_body .hp_img .hp_title .p1,
.hp_body .hp_img .hp_title .p2,
.hp_body .hp_img .hp_title .all_p3{
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0.5s;
    animation-play-state: paused;
}
.hp_body .hp_tz .hp_tz_list .hp_list_3{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-timing-function: ease-in-out;
}
.hp_body .hp_tz .hp_tz_list .hp_list_4{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0.7s;
    -webkit-animation-timing-function: ease-in-out;
}
.hp_body .hp_tz .hp_tz_list .hp_list_2,
.hp_body .hp_tz .hp_tz_list .hp_list_5{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
}
.hp_body .hp_tz .hp_tz_list .hp_list_1,
.hp_body .hp_tz .hp_tz_list .hp_list_6{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1.9s;
    -webkit-animation-timing-function: ease-in-out;
}
@media(max-width: 1300px){
    .hp_body .hp_photo .hp_img img,
    .hp_body .hp_dt .hp_img img,
    .hp_body .hp_music .hp_img img{
        opacity: 1;
    }
    .hp_body .hp_bz .hp_img .hp_shuimu_bg,
    .hp_body .hp_bz .hp_img .hp_phone,
    .hp_body .hp_tz .hp_tz_list li,
    .hp_body .hp_img .hp_title .p1,
    .hp_body .hp_img .hp_title .p2,
    .hp_body .hp_img .hp_title .all_p3{
        animation-play-state: running;
    }
}
/**************************************footer****************************/
.ser_list{
    padding:5% 0;
}
.ser_list>div{
    padding:0 0 2% 7%;
}
.ser_list>div>a{
    color:#8f8f8f;
    text-decoration: none;
}
.ser_way{
    text-align: center;
    padding-top:3%;
}
#hot_line>div:nth-child(1){
    font-size: 0.9em;
    color:#8f8f8f
}
#hot_line>div:nth-child(2){
    font-size: 1.6em;
    color:#00C3F5;
}
.ser_way>div:nth-child(2){
    background:#00C3F5;
    color:#fff;
    width:150px;
    line-height: 40px;
    margin:4% auto;
}
.ser_way>div:nth-child(2)>a{
    color:#fff;
    margin-left:10%;
}
.clear_fix ul{
    list-style: none;
    font-size: 0.7em;
    display: flex;
    justify-content: flex-start;
    color:#8f8f8f;
}
.clear_fix .ft_ul1>li{
    display: block;
    margin:0 1.5%;
}
.ft_ul1>li:last-child{
    display: flex;
}
.ft_ul1>li:last-child>div{
    width: 18px;
    height:18px;
    overflow: hidden;
}
.ft_ul1>li:last-child>div>img{
    width:90%;
}
.clear_fix ul>li>a{
    color:#8f8f8f;
    font-size:12px;
}
.clear_fix .ft_ul2>li:first-child{
    margin:0 0 2% 1.5% ;
}
.clear_fix .ft_ul2>li:not(:first-child) {
    margin: 0 0 2% 1%;
}
@media screen and (max-width: 767px){
    .ser_list,.ft_ul1{
        display: none !important;
    }
    .ser_way{
        text-align: left;
        content:"";
        clear:both;
        display: none;
        margin-bottom:3%;
    }
    #hot_line{
        float: left;
        margin-left:7%;
    }
    .ser_way>div:nth-child(2){
        float: right;
        text-align: center;
        margin-right:7%;
    }
    .ft_ul2{
        padding-left: 15px;
    }
    .ft_ul2>li:not(:first-child),.ft-ul3{
        display: none;
    }
}
@media (min-width: 1200px){
    .container {
        width: 100% !important;
    }
}
/*********************¼ÌÐøÁË½â****************/
#huaping {
    position: relative;
    text-align: center;
    background:#F8F8F8;
}
#huaping p{
    position: relative;
    z-index: 110;
    padding-top: 82px;
    font-size: 18px;
    line-height: 38px;
    color: #999;
}
#huaping h2{
    position: relative;
    z-index: 110;
    font-size: 28px;
    opacity: 1;
    color: #32cef6;
    padding-bottom: 82px;
}
#huaping a{
    width:100%;
    height:100%;
    position:absolute;
    z-index: 100;
    top:0;
    left:0;
    display:inline-block;
    background:url("../images/footer-design_57e2d27.jpg") no-repeat center;
    opacity:0;
    transition: all 0.3s linear;
}

#huaping:hover>a{
    height:160%;
    top:-30%;
    opacity: 1;
}
#huaping:hover h2, #huaping:hover p{
    color:#fff;
}
.modalShadow{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:0;
    opacity: 0.5;
    background-color: #000;
}


