html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden ;
}
div.container-fluid {
  padding: 0;
}
div.first-picture {
  position: relative;
}
div.first-picture img {
  width: 100%;
  height: 100%;
}
div.first-picture h1.show_1 {
  position: absolute;
  top: 20%;
  left: 20px;
  color: #fff;
  opacity: 1;
  transform: translate(-10px, 0);
}
div.first-picture > div.picture_1 {
  text-align: center;
  padding-top: 100px;
}
div.mian {
  position: relative;
}
/***����Ч��***/
div.intro {
  text-align: center;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transform: none;
}
div.intro > h5 {
  font-weight: 700;
  font-size: 18px;
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear;
}
div.intro > h1 {
  font-size: 42px;
  font-weight: 700;
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear 1s;
}
div.intro > p {
  font-weight: bold;
  font-family: Helvetica, Tahoma, Arial, Hiragino Sans GB, "Microsoft YaHei", SimSun, Heiti, sans-serif;
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear .5s;
}
div.intro div.dt {
  margin-top: 90px;
  font-size: 14px;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: rotateY(0deg);
  transition: all 1s linear;
}
/***��껬��ͼƬ**/
div.slider {
  height: 600px;
  margin-bottom: 1px;
  perspective: 1000px;
  background: url(../img/section-bg-1_e7c904e.jpg) no-repeat;
}
div.slider > ul {
  display: inline-block;
  list-style: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  transform-style: preserve-3d;
  transform: rotatey(0deg);
  position: relative;
  transition: all 1200s linear;
}
div.slider > ul:hover {
  transform: rotatey(7200deg);
}
div.slider > ul > li {
  width: 49%;
  height: 100%;
  position: absolute;
  top: 28%;
  left: 37%;
}
div.slider > ul > li:nth-child(1) img {
  width: 50%;
}
div.slider > ul > li:nth-child(2) img {
  width: 50%;
  height: 43%;
}
div.slider > ul > li:nth-child(3) img {
  width: 46%;
  height: 43%;
}
div.slider > ul > li:nth-child(4) img {
  width: 51%;
}
div.slider > ul > li:nth-child(5) img {
  width: 50%;
}
div.slider > ul > li:nth-child(6) img {
  width: 50%;
}
div.slider > ul > li:nth-child(1) {
  transform: translatez(304px);
}
div.slider > ul > li:nth-child(2) {
  transform: rotatey(60deg) translate3d(83px, 0px, 154px);
}
div.slider > ul > li:nth-child(3) {
  transform: rotatey(120deg) translate3d(263px, 0px, 152px);
}
div.slider > ul > li:nth-child(4) {
  transform: rotatey(180deg) translate3d(328px, 0px, 286px);
}
div.slider > ul > li:nth-child(5) {
  transform: rotatey(240deg) translate3d(263px, 0px, 434px);
}
div.slider > ul > li:nth-child(6) {
  transform: rotatey(300deg) translate3d(90px, 0px, 450px);
}
div.slow {
  position: relative;
  color: #fff;
  width: 100%;
}
div.slow img {
  width: 100%;
}
div.fff1 {
  position: absolute;
  top: 38%;
  left: 0;
  font-size: 1rem;
}
div.fff1 h5 {
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear 1s;
}
div.fff1 h1 {
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear 1.5s;
}
div.fff1 p {
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear 2s;
}
div.show_1 {
  position: relative;
}
div.show_1 img {
  width: 100%;
}
div.show_1-1 h5 {
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear 1s;
}
div.show_1-1 h1 {
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear 1.5s;
}
div.show_1-1 p {
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear 2s;
}
div.show_2 {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
div.show_2 img {
  width: 100%;
}
div.ff1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
}
div.show_2 img:nth-child(2) {
  position: absolute;
  height: 100%;
  bottom: -15%;
  left: 35%;
  width: 30%;
  opacity: 0;
  transform: scale(1, 0.9) translateZ(400px);
  transition: all 1s linear;
}
div.show_3 {
  position: relative;
  z-index: 1000;
}
div.show_3 img {
  width: 100%;
}
div.show_4 {
  position: relative;
}
div.show_4 img {
  width: 100%;
  position: relative;
  z-index: 1000;
}
div.show_4 img:nth-child(3) {
  position: absolute;
  top: -40%;
  left: 27%;
  right: 0;
  width: 40%;
  height: 47%;
  z-index: 1000;
  overflow: hidden;
  transition: all 1s linear;
}
div.show_4 img.img_1 {
  position: absolute;
  top: -41%;
  left: 22%;
  right: 0;
  width: 50%;
  height: 50%;
  z-index: 1020;
  transition: all 1s linear;
}
div.show_4 div.show_4-1 {
  position: absolute;
  top: 38%;
  left: 10%;
  color: #000;
  z-index: 1020;
  text-align: center;
}
div.show_4 div.show_4-1 h5 {
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear 1s;
}
div.show_4 div.show_4-1 h1 {
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear 1.5s;
}
div.show_4 div.show_4-1 p {
  transform: translate(0, 10px);
  opacity: 0;
  transition: all .5s linear 2s;
}
/***�ڶ��ֲ�ͼ***/
div.slider_1 {
  height: 600px;
  margin-bottom: 1px;
  position: relative;
}
div.slider_1 > ul {
  display: inline-block;
  list-style: none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
div.slider_1 > ul li:nth-child(1) {
  float: left;
  width: 20%;
}
div.slider_1 > ul li:nth-child(1) img {
  transition: all 1s linear;
}
div.slider_1 > ul li:nth-child(2) {
  float: left;
  width: 20%;
}
div.slider_1 > ul li:nth-child(3) {
  float: left;
  width: 20%;
}
div.slider_1 > ul li:nth-child(4) {
  float: left;
  width: 20%;
}
div.slider_1 > ul li:nth-child(5) {
  float: left;
  width: 20%;
}
.bigger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 1s linear;
}
/***����***/
span {
  transition: all 1s linear;
}
.active {
  display: inline-block;
  color: red;
  animation: showy 100s linear infinite ;
}
.active1 {
  display: inline-block;
  color: deepskyblue;
  animation: showy1 100s linear infinite ;
}
.active2 {
  display: inline-block;
  color: greenyellow;
  animation: showy2 100s linear infinite ;
}
.big {
  display: inline-block;
  color: mediumpurple;
  animation: big 100s linear infinite ;
}
.big1 {
  display: inline-block;
  color: deeppink;
  animation: big1 100s linear infinite ;
}
.big2 {
  display: inline-block;
  color: brown;
  animation: big2 100s linear infinite ;
}
.big3 {
  display: inline-block;
  color: orangered;
  animation: big3 100s linear infinite ;
}
.big4 {
  display: inline-block;
  color: #00FACE;
  animation: big4 100s linear infinite ;
}
.big5 {
  display: inline-block;
  color: #FA6F00;
  animation: big5 100s linear infinite ;
}
.big6 {
  display: inline-block;
  color: #FA00F2;
  animation: big6 100s linear infinite ;
}
.big7 {
  display: inline-block;
  color: #12FA00;
  animation: big7 100s linear infinite ;
}
.big8 {
  display: inline-block;
  color: #000AFA;
  animation: big8 100s linear infinite ;
}
.big9 {
  display: inline-block;
  color: #48FAB7;
  animation: big9 100s linear infinite ;
}
.big10 {
  display: inline-block;
  color: gold;
  animation: big10 100s linear infinite ;
}
@keyframes showy {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(200px, 0);
  }
  100% {
    transform: translate(-200px, 100px) scale(1, 1);
  }
}
@keyframes showy2 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(200px, 100px) scale(2, 3);
  }
  100% {
    transform: translate(-200px) scale(1, 1);
  }
}
@keyframes showy1 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, -100px) rotate(90deg);
  }
  100% {
    transform: translate(200px) rotate(360deg);
  }
}
@keyframes big {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-200px, -200px) rotate(90deg) scale(0.5, 0.6);
  }
  100% {
    transform: translate(400px) rotate(360deg);
  }
}
@keyframes big1 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-200px, -200px) rotate(90deg) scale(0.5, 0.6);
  }
  100% {
    transform: translate(400px) rotate(360deg);
  }
}
@keyframes big2 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(200px, 300px) rotate(90deg) scale(0.5, 0.6);
  }
  100% {
    transform: translate(400px) rotate(360deg);
  }
}
@keyframes big3 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-200px, 100px) skew(30deg, 0) rotate(180deg);
  }
  100% {
    transform: translate(200px) rotate(360deg);
  }
}
@keyframes big4 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  100% {
    transform: translate(-200px);
  }
}
@keyframes big5 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, 200px) rotate(120deg) scale(0.5, 0.4);
  }
  100% {
    transform: translate(-200px);
  }
}
@keyframes big6 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-100px, -200px) rotate(120deg) scale(0.5, 0.4);
  }
  100% {
    transform: translate(-200px) rotate(360deg);
  }
}
@keyframes big7 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, -200px) rotate(120deg) scale(0.5, 0.4);
  }
  100% {
    transform: translate(-200px) rotate(270deg);
  }
}
@keyframes big8 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, 200px) rotate(120deg) scale(1.5, 1.4);
  }
  100% {
    transform: translate(-200px) rotate(270deg);
  }
}
@keyframes big9 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-100px, 200px) rotate(120deg) scale(0.5, 0.4);
  }
  100% {
    transform: translate(-200px) rotate(270deg);
  }
}
@keyframes big10 {
  1% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-100px, -200px) rotate(120deg) scale(0.5, 0.4);
  }
  100% {
    transform: translate(-300px) rotate(270deg);
  }
}
/***��������***/
div.show_1 div.show_1-1 {
  position: absolute;
  top: 30%;
  right: -25%;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
}
.col-md-8 {
  color: #d4d4d4;
}
@media screen and (max-width: 767px) {
  div.first-picture h1.show_1 {
    font-size: 17px;
  }
  div.fff1 {
    top: -10%;
    left: -35%;
    transform: scale(0.2, 0.2);
  }
  div.slider {
    height: 600px;
    margin-bottom: 1px;
    perspective: 1000px;
    background: url(../img/section-bg-1_e7c904e.jpg) no-repeat;
  }
  div.slider > ul {
    display: inline-block;
    list-style: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    transform-style: preserve-3d;
    transform: rotatey(0deg);
    position: relative;
  }
  div.slider > ul > li:nth-child(3) {
    transform: translate3d(50px, 50px, 0px);
  }
  div.slider > ul > li:nth-child(2) {
    transform: translate3d(0px, 50px, 0px);
  }
  div.slider > ul > li:nth-child(4) {
    transform: translate3d(0px, 0px, 0px);
  }
  div.slider > ul > li:nth-child(5) {
    transform: translate3d(-60px, 10px, 0px);
  }
  div.slider > ul > li:nth-child(6) {
    transform: translate3d(-60px, 50px, 0px);
  }
  div.slider_1 {
    height: 600px;
    margin-bottom: 1px;
    overflow: hidden;
  }
  div.slider_1 > ul {
    display: inline-block;
    list-style: none;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }
  div.show_1 div.show_1-1 {
    font-size: 12px;
    text-align: left;
    top: 20%;
    transform: scale(0.2, 0.2);
  }
  div.show_4 div.show_4-1 {
    font-size: 12px;
    text-align: center;
    top: 0%;
    left: 20%;
    opacity: 1;
    transform: scale(0.2, 0.2);
  }
}
/*******************************/
#camera {
  position: relative;
  text-align: center;
  background: #F8F8F8;
}
#camera p {
  position: relative;
  z-index: 110;
  padding-top: 82px;
  font-size: 18px;
  line-height: 38px;
  color: #999;
}
#camera h2 {
  position: relative;
  z-index: 110;
  font-size: 30px;
  color: #32cef6;
  padding-bottom: 82px;
}
#camera a {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: inline-block;
  background: url("../img/footer-performance_51b2baa.jpg") no-repeat center;
  opacity: 0;
  transition: all 0.3s linear;
}
#camera:hover > a {
  height: 160%;
  top: -30%;
  opacity: 1;
}
#camera:hover h2,
#camera:hover p {
  color: #fff;
}
.modalShadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0.5;
  background-color: #000;
}
/**************************************footer****************************/
.ser_list {
  padding: 5% 0;
}
.ser_list > div {
  padding: 0 0 2% 7%;
}
.ser_list > div > a {
  color: #8f8f8f;
  text-decoration: none;
  font-size: 14px;
  line-height: 2;
}
.ser_way {
  text-align: center;
  padding-top: 3%;
}
#hot_line > div:nth-child(1) {
  font-size: 0.9em;
  color: #8f8f8f;
}
#hot_line > div:nth-child(2) {
  font-size: 1.6em;
  color: #00C3F5;
}
.ser_way > div:nth-child(2) {
  background: #00C3F5;
  color: #fff;
  width: 150px;
  line-height: 40px;
  margin: 4% auto;
}
.ser_way > div:nth-child(2) > a {
  color: #fff;
  margin-left: 10%;
}
.clear_fix ul {
  list-style: none;
  font-size: 0.7em;
  display: flex;
  justify-content: flex-start;
  color: #8f8f8f;
}
.ft_ul1,
.ft_ul2 {
  padding: 0 3%;
  font-size: 0.7em;
  margin-top: 0;
  margin-bottom: 10px;
}
.clear_fix .ft_ul1 > li {
  display: block;
  margin: 0 1.5%;
}
.ft_ul1 > li:last-child {
  display: flex;
}
.ft_ul1 > li:last-child > div {
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.ft_ul1 > li:last-child > div > img {
  width: 90%;
}
.clear_fix ul > li > a {
  color: #8f8f8f;
  font-size: 12px;
}
.clear_fix .ft_ul2 > li:first-child {
  margin: 0 0 2% 1.5% ;
}
.clear_fix .ft_ul2 > li:not(:first-child) {
  margin: 0 0 2% 1%;
}
@media screen and (max-width: 767px) {
  .ser_list,
  .ft_ul1 {
    display: none !important;
  }
  .ser_way {
    text-align: left;
    content: "";
    clear: both;
    display: none;
    margin-bottom: 3%;
  }
  #hot_line {
    float: left;
    margin-left: 7%;
  }
  .ser_way > div:nth-child(2) {
    float: right;
    text-align: center;
    margin-right: 7%;
  }
  .ft_ul2 {
    padding-left: 15px;
  }
  .ft_ul2 > li:not(:first-child),
  .ft_ul2 .ft-ul3 {
    display: none;
  }
}
#hu-12 {
  color: #A09C9B;
  padding: 3% 5%;
  font-size: 12px;
  border-bottom: 1px solid #DFDFDF;
}
#hu-12 ul {
  list-style: none;
}
